body, html {
    margin : 10px;
}

.sidenav {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);    
    overflow-x: hidden;
    padding-top: 20px;
    float: left;
}

.sidenav #judul-sidenav {
    font-size: 4 rem;
    font-weight: bold;
    text-align: center;
}

.sidenav #indonesia-all, #indonesia-provinsi{
    font-size: 3 rem;
}

.container {
    clear: both;
    width: 70%;
    float: right;
}

.row-1 img {
    max-width: 60%;
    height: auto;
}

#indonesia-all {
    margin-top: 10px;
    margin-bottom: 20px;
}

#indonesia-provinsi {
    margin-bottom: 20px;
}

@media (max-width: 576px) {
    .sidenav {
        height: 230px;
        width: 100%;
    }
    .container {
        clear: both;
        width: 100%;
        float: right;
        margin-top: 230px;
        padding-left: 0px;
    }

    .row-2 {
        font-size: 0.8rem;
    }

    #indonesia-all {
        margin-top: 0px;
        margin-bottom: 2px;
    }
    
    #indonesia-provinsi {
        margin-bottom: 2px;
    }
}
